<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.serviceModel>
        <bindings>
               <netTcpBinding>
                      <binding name="NetTcpBinding_IService" maxReceivedMessageSize="2147483647">
                             <security mode="None">
                                    <transport sslProtocols="None" />
                             </security>
                      </binding>
                      <binding name="NetTcpBinding_IService2">
                             <security mode="None">
                                    <transport sslProtocols="None" />
                             </security>
                      </binding>
               </netTcpBinding>
        </bindings>
        <client>
               <endpoint address="net.tcp://94.233.10.179:8004/" binding="netTcpBinding"
                      bindingConfiguration="NetTcpBinding_IService2" contract="Service2.IService2"
                      name="NetTcpBinding_IService2" />
               <endpoint address="net.tcp://94.233.10.179:8002/" binding="netTcpBinding"
                      bindingConfiguration="NetTcpBinding_IService" contract="Server.IService"
                      name="NetTcpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>